<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Database">
    <Parameter Name="UserDatabase" Value="Defined_In_ConfigurationApi_Config_Settings.xml" />
    <Parameter Name="TaskDatabase" Value="Defined_In_ConfigurationApi_Config_Settings.xml" />
    <Parameter Name="NotificationDatabase" Value="Defined_In_ConfigurationApi_Config_Settings.xml" />
  </Section>
</Settings>
